/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/

/** Completed LearnDash Lessons and Topics are not crossed out in the TOC when completed. */
.bb-lessons-list .bb-completed-item {
    text-decoration: none;
    color: grey;
}

.learndash .learndash-wrapper .learndash-complete .ld-item-list-item-preview .ld-item-title > span:first-child,
.learndash-wrapper .ld-table-list .ld-table-list-items div.ld-table-list-item a.ld-table-list-item-preview.learndash-complete .ld-topic-title,
.learndash-wrapper .ld-table-list-item.learndash-complete .ld-item-title>span:first-child {
    text-decoration: none;
}

/** Duplicate the LD course navigation styles in the footer. */
.single #learndash-course-footer {
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

div.bb-lms-footer {
    padding: 0;
    position: relative;
    margin: 0;
    /*@include transition(all linear .2s);*/
    -webkit-transition: margin .2s;
    transition: margin .2s;
}
div.bb-lms-header .sfwd-course-position {
    margin-right: auto;
}
div.bb-lms-footer .sfwd-course-position {
    margin-right: auto;
}
div.bb-lms-footer h1 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 0;
}
div.bb-lms-footer .bb-position {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
}
@media screen and (max-width: 544px) {
    div.bb-lms-footer .bb-position {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    div.bb-lms-footer .bb-position .sfwd-course-nav {
        margin-top: 15px;
    }
}
@media screen and (max-width: 380px) {
    #learndash-page-content div.bb-lms-footer .bb-position .sfwd-course-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

/** Improve the appearance of the Open xAPI content button */
.uo-tclr-open-content .uo-tclr-open-content-button {
    border-radius: 50px;
    border: 0;
    background-color: #00ADEF !important;
    color: #FFF;
}

.uo-tclr-open-content .uo-tclr-open-content-button .uo-tclr-open-content-button__text {
    line-height: inherit;
}

/** Stop the LD 'In progress' status badges looking like buttons */
#page .learndash-wrapper .bb-single-course-sidebar .ld-status {
    border-radius: 5px !important;
    border: 0;
    background-color: transparent !important;
}

#page .learndash .learndash-wrapper .ld-course-status .ld-status {
    border-radius: 5px !important;
    background-color: #EBE9E6 !important;
    color: inherit !important;
}

/** Hide course progress badge in course page header and footer */
#learndash-page-content .ld-status { display: none; }

/** Make LD Previous and Next buttons look clickable when it is active. */
#page #learndash-page-content .sfwd-course-nav .learndash_next_prev_link a {
    font-size: 0;
    background-color: #00ADEF;
    color: #fff;
}

/** Hide the Course Back and Next navigation buttons from the top of every course page. */
#learndash-page-content #learndash-course-header > .bb-position { display: none; }

/** Remove green background from WPForms completion message. */
div.wpforms-confirmation-container-full {
    color: inherit;
    margin: 0;
    background: none;
    border: none;
    padding: 0;
}

div.wpforms-confirmation-container-full p:last-of-type {
    margin: inherit;
}
